---
export interface Props {
  note: any;
  author: string;
}
const { note, author } = Astro.props;

function formatDate(date) {
  return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, '$1'); // remove everything after YYYY
}
---

<style>
.note {
  padding-top: var(--space-triple);
  padding-bottom: var(--space-triple);
  border-bottom: 1px solid var(--color-border);
}

.date {
  font-size: 1.4rem;
}

.note__title {
  font-weight: var(--weight-bold);
  font-size: 2.0rem;
}

</style>

<article class="note">
    <a href={note.url}><h2 class="note__title">{note.title}</h2></a>
    <time class="date" datetime={note.date}>{formatDate(note.date)}</time>
    <p>{note.tag}</p>
</article>
